@import url('https://fonts.cdnfonts.com/css/rawline');

html, body, .stApp * {
    font-family: 'Rawline', sans-serif !important;
    color: #333333;
}

.login-title {
    font-size: 60px;
    color: black;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.stAppHeader {
    background-color: #97bf29;
}

.stMainBlockContainer {
    padding-top:3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.stForm {
    background-color: white;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.header-title {
    font-size: 1.8em;
    font-weight: bold;
}

.stButton > button {
    border-radius: 0;
    background-color: #f8f8f8;
    color: #003366 !important;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    padding: 1rem 2rem;
    margin-bottom: 0.7rem;
    width: 100%;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    outline: none !important;
    border: none !important;
}

.stButton > button:hover {
    background-color: #dbe8fb;
    outline: none !important;
    border: none !important;
    color: #003366 !important;
}

.metric-box {
    background-color: var(--bg-color, #f8f9fa);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.metric-box h5 {
    margin: 0;
    color: var(--text-color, #6c757d);
}

.metric-box h2 {
    margin: 0;
    color: var(--number-color, #145fbe);
}

